

body {

    background: #dddddd;
    /*padding-top: 4px;*/
    font:11px arial,helvetica,clean,sans-serif;
}

h2 {
    color: #343534;
    font-weight: bold;
    border-bottom: 1px solid lightslategray;
    margin-top: 1em;
    margin-bottom: 1em;
}

th {
    text-align: center;
}

.footer {
    border-top: 1px solid black;
}

table.display td {
    padding: 3px 0 !important;
}

table.plain th, td {
    text-align: inherit;
    padding:  0px !important;
}

.money {
    text-align: right;
}

.hide {
    display: none;
}

.totals {
    font-weight: bold !important;
    color: #343534;
}

#hd {
    padding: 1em;
    background-image: url('../images/background.png');
    background-repeat: repeat-x;
}

#bd {
    margin-top: 0.5em;
    border: 1px solid lightgray;
    background: white;
    padding: 1em;
}

#ft {
    background: #222222;
    padding: 1em;
    text-align: center;
    color: white;
    font-family: "Lucinda Grande",Arial;
    font-size: inherit;
}

#sidebar {

    margin-top: 3em;
    background-color: #d3e3f5;
    padding: 1em;
    border: 1px solid lightblue;

}

#sidebar h3 {
    color: #343534;
    font-weight: bold;
    border-bottom: 1px solid lightslategray;
    margin-top: 1em;
    margin-bottom: 1em;

}

#newPost h3 {
    font-size: x-large;
    font-weight: bold;
    border-bottom: 1px solid lightslategray;
    margin-top: 1em;
    margin-bottom: 1em;
}

#charLeft {
    color: lightslategray;
    float: right;
    font-size: x-large;
    border: none;
}

#postContent {
    margin: 1em;
    font-size: large;
    width: 90%;
}

dt {
    float: left;
}

dd {
    text-align: right;
}


.postImage {
    margin: 0.5em;
    float: left;
}

.postEntry {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: 3em;
    font-size: larger;
    border-top: 1px solid lightslategray;

}

.postText a {
    font-weight: bold;
    text-decoration: none;
}

.postDate {
    font-size: smaller;
}

.friendsThumbnails img {
    margin: 4px;
}

.flash {
    background: #ffe957;
    border: 1px dotted black;
    color: black;
    padding: 1em;
    margin: 1em;
    font-weight: bold;
    background-color: #ffe957;
}

.errors {
    background: lightpink;
    border: 1px dotted red;
    color: black;
    padding: 1em;
    margin: 1em;
    font-weight: bold;
}

.step{
    padding-left: 1em;
}

.prevLink {
    padding-left: 1em;
}


.nextLink {
    padding-left: 1em;
}

.currentStep {
    padding-left: 1em;
    font-weight: bold;
}

/*      <a href="/hubbub/?offset=0&amp;max=10" class="prevLink">Previous</a><a href="/hubbub/?offset=0&amp;max=10" class="step">1</a><span class="currentStep">2</span>
     */

.nav {
    background-color: #333333;
    color: white;
    padding: 7px;
    margin: 3px;
    margin-bottom: 10px;
}

.nav span {
    margin-left: 5px;
    margin-right: 5px;
}

.nav span a {
    color: white;
    text-decoration: none;
}

.nav span a:hover {
    color: grey;
}

#following {
    margin-top: 10px;
    margin-bottom: 10px;
}
